html, body, .wrapper {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
  font-size: 12px;
  margin: 0px;
}
#correctInput{
  width:100%;
  height: 200px;
}

#list {
  width:100%;
  height: calc(100% - 50px)
}

.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
  line-height: 13px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  font-size: 11px !important;
  border-right: 1px solid #d9dcde !important;
  justify-content: center !important;
  text-align: center !important;
}

.ag-theme-balham .ag-group-expanded .ag-icon-contracted:empty {
  height: 12px !important;
  width: : 12px !important;
  background-size: 12px 12px !important;
}

.ag-theme-balham .ag-icon-expanded {
  height: 12px !important;
  width: : 12px !important;
  background-size: 12px 12px !important;
}

.ag-theme-balham .ag-row-selected {
  background-color: rgb(204, 204, 255) !important;
}

/*.ag-theme-balham .ag-row-focus {
  background-color: rgb(204, 204, 255) !important;
}*/

div .ag-theme-balham .ag-row-group-expanded {
  font-weight: bold;
  background-color: rgb(158, 238, 255) !important;
}

div .regulator .ag-row-odd:not(.ag-row-level-0) {
  background-color: rgb(205, 235, 235);
}

div .regulator .ag-row-even:not(.ag-row-level-0) {
  background-color: #f5f7f7;
}

div .regulator .ag-row-odd:not(.ag-row-level-1) {
  background-color: #d5e7b8;
  /*background-color: rgb(240,150,150);*/
}

div .regulator .ag-row-even:not(.ag-row-level-1) {
  background-color: #f5f7f7;
}

div .client .ag-row-odd:not(.ag-row-level-0) {
  background-color: rgb(205, 235, 235);
}

div .client .ag-row-even:not(.ag-row-level-0) {
  background-color: #f5f7f7;
}

div .client .ag-row-odd:not(.ag-row-level-1) {
  background-color: rgb(158, 238, 300);
  /*background-color: rgb(240,150,150);*/
}

div .client .ag-row-even:not(.ag-row-level-1) {
  background-color: #f5f7f7;
}

div .issuer .ag-row-odd:not(.ag-row-level-0) {
  background-color: rgb(205, 235, 235);
}

div .issuer .ag-row-even:not(.ag-row-level-0) {
  background-color: #f5f7f7;
}

div .issuer .ag-row-odd:not(.ag-row-level-1) {
  background-color: rgb(255, 204, 209);
  /*background-color: rgb(240,150,150);*/
}

div .issuer .ag-row-even:not(.ag-row-level-1) {
  background-color: #f5f7f7;
}

.ag-theme-balham .ag-cell {
  line-height: 13px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  font-size: 11px !important;
  border-right: 1px solid #d9dcde !important; 
}
.ag-floating-filter-body input {
  font-size: 11px !important;
}

.ag-header-cell-label {
   justify-content: center !important;
}
.ag-theme-balham .ag-has-focus .ag-cell-focus {
  border-right: 1px solid #0091EA !important; 
}

.ag-theme-balham .ag-header-cell {
  line-height: 13px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  font-size: 11px !important;
  border-right: 1px solid #d9dcde !important; 
}
