* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 5px;
    height: 30px; /* Should be removed. Only for demonstration */

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*border box for the informaiton*/
.Information{
    border: 2px solid lightgray;
}

/*Information regarding the */
.header_id{
    font-size: 15pt;
    font-weight: bold;
}