/*
 * WARNING
 * =======================================================================
 *
 * You won't see any vendor -prefixes in this code.
 *
 * This stylesheet requires prefixfree.js to be included in the document.
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color:white;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Crimson Text', georgia, times, serif;
    font-size: 2em;
    line-height: 1.3;

    background-image: url(/img/cover.jpg);
    height: 1800px;
    background-attachment: fixed;

    user-select: none;
    font-smoothing: antialiased;
}

b, strong { font-weight: bold }

i, em { font-style: italic}

a {
    color: white;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.3);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    transition: 0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

a.cognifide {
    display: block;
    width: 200px;
    background: none;
    margin: 20px auto 0;
}

code {
    font-family: 'Ubuntu Mono', monospace;
}

code.snippet {
    display: block;
    position: relative;
    padding: 5px 10px;
    border-radius: 10px;
    background: rgba(255,255,255,.5);
}

code.snippet .disabled {
    opacity: 0.5;
    text-decoration: line-through;
}

code.snippet .indent { white-space: pre; }

code.snippet .comment { font-size: 0.8em; color: #777; }


.step {
    width: 800px;
    padding: 20px;
    border-radius: 20px;
    
    transition: 1s;
}

.step h2 {
    font-size: 3.5em;
    text-transform: lowercase;
    color: white;
    text-shadow: 2px 2px 10px rgba(50,50,50,.8);
    
    position: absolute;

    transform-origin: 100% 100%;
    transform: translate(-110%, -120%) rotate(-90deg);
}

.step h3 {
    font-size: 2.5em;
    text-transform: lowercase;
    margin-bottom: 0.2em;
}

.step ul {
    font-size: 1.2em;
}

.step ul li { margin-bottom: 0.1em }

.step ul li:before {
    content: "★";
    text-shadow: 0 0 5px rgba(50,50,50,0.7);
    color: white;
    margin-right: 0.5em;
}

.step ul b { font-size: 1.1em }







/*
 * TITLE STEP
 * =============================================================================
 */

#impress.step-title .step { opacity: 0.1; }

#impress.step-title .active { opacity: 1; }

@keyframes rotate-h1 {
        0%   { transform: perspective(1000px) rotateY(-10deg); }
        100% { transform: perspective(1000px) rotateY(10deg); }
}

#title h1 {
    font-weight: bold;
    text-align: center;
    font-size: 6em;
    line-height: 1;

    transform-style: preserve-3d;
    animation: rotate-h1 2s infinite alternate ease-in-out;

    transform: perspective(1000px) rotateY(0deg);

    transition: all 2s ease-in-out;
}

#title h1 .short {
    text-transform: lowercase;
    display: inline-block;
    font-weight: normal;
    font-size: 0.27em;

    transform: translateZ(-50px);
}

#title h1 .d3 {
    display: inline-block;
    transform: translateZ(20px);
}

#title h1 .transforms {
    display: inline-block;
    font-weight: normal;
    font-size: 0.6em;
    transform: translateY(-0.6em) translateZ(50px);
}

#title .author {
    display: block;
    width: 400px;
    margin: -70px auto 0;
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 1s;
}

#title.active .author {
    opacity: 1;
}

/*
 * SUPPORT STEP
 * =============================================================================
 */

#support { width: 760px }

#support h2 { font-size: 2.5em; }

#support .browser {
    width: 240px;
    height: 240px;
    float: left;
    margin-right: 20px;

    background: transparent no-repeat 50% 50%;
    margin-bottom: 20px;
    
    position: relative;
    overflow: hidden;
}


#support code {
    display: inline-block;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 5px;
}

#support .version {
    font-family: "Ubuntu", sans-serif;
    color: rgba(255,255,255,0.85);
    text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    font-size: 6em;
    position: absolute;
    bottom: -30px;
    right: -5px;
    letter-spacing: -0.1em;
    width: 220px;
    text-align: right;
}
#support .browser:last-child { margin-right: 0 }

#support .safari    { background-image: url(../img/safari.png); }
#support .chrome    { background-image: url(../img/chrome.png); }
#support .android   { background-image: url(../img/android.png); }

#support .firefox   { background-image: url(../img/firefox.png); }
#support .ie        { background-image: url(../img/ie.png); }
#support .opera     { background-image: url(../img/opera.png); }

#support .future,
#support prefix,
#support .version  {
    opacity: 1;
    transition: opacity 0.5s;
}

#support .disabled {
    opacity: 0.2;
    cursor: pointer;
}

#support .disabled .version,
#support .disabled .prefix { opacity: 0 }

/*
 * TRANSFORMS SLIDES COMMONS
 * =============================================================================
 */

.target {
    position: relative;
    width: 200px;
    height: 200px;
    
    margin: 50px auto 150px;
    
    transition: transform 1s ease-in-out;
    
    transform-style: preserve-3d;
}

.face {
    width: 200px;
    height: 200px;
    
    font-family: "Ubuntu Mono", monospace;
    font-size: 2em;
    line-height: 185px;
    text-align: center;
    color: #FFF;
    text-shadow: -2px -1px 2px rgba(0,0,0,0.2);

    transform-style: preserve-3d;
    backface-visibility: inherit;
}

.axis {
    display: block;
    width: 200px; height: 200px;
    border: 2px dashed #444;
    border-width: 2px 0 0 0;
    
    position: absolute;
    top: 101px; left: 101px;
    transform-style: preserve-3d;
    transform: translateZ(1px);
}

.axis.y {
    border-width: 0 0 0 2px;
}

.axis.z {
    transform: translateZ(1px) rotateY(-90deg);
    transform-origin: 0 0;
}

.axis:before {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    top: 0; right: 0;
    content: " ";
    background: rgba(100,100,100,0.2);
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
}

.axis.x:before { content: "X" }
.axis.y:before { content: "Y"; left: -20px; bottom: 0; top: auto; right: auto; }
.axis.z:before { content: "Z" }

.axis:after {
    content: " ";
    position: absolute;
    width: 100%; height: 100%;
    border-top: 2px dashed #444;
    transform: translate3d(0,-1px,-1px) rotateX(90deg);
    transform-origin: 0 0;
}

.axis.y:after {
    border-top: none;
    border-left: 2px dashed #444;
    transform: translate3d(-1px,0,-1px) rotateY(-90deg);
    transform-origin: 0 0;
}








#transforms2d { width: 600px }

#transforms2d .face { background: rgba(  0,153,255,1); }

#transforms2d h2 { font-size: 3.5em; }





/*
 * TRANSFORMS 3D
 * =============================================================================
 */

#transforms3d { width: 940px; }
#transforms3d-cube { width: 960px; }

#transforms3d .snippet,
#transforms3d-cube .snippet { font-size: 0.9em; }

#transforms3d .face { background: rgba(102, 51,255,1); }

#transforms3d-cube .cube {
    transform-style: flat;
    transform: perspective(600px) rotateX(330deg) rotateY(320deg);
}

#transforms3d-cube .flip {
    position: relative;
    transform: perspective(1000px) rotateX(0deg);
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

#transforms3d-cube .flip.back {
    transform: perspective(1000px) rotateX(180deg);
}

#transforms3d-cube .flip .snippet {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

#transforms3d-cube .flip .back {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transform: rotateX(-180deg);
}

.cube > .face {
    position: absolute;
    opacity: 1;
    transition: all 1s, transform 1s;
}

.cube > .face:nth-child(1) { transition-delay: 0, 0; background: rgba(102, 51,255,1);  transform:  rotateY(  0deg) translateZ(100px); }
.cube > .face:nth-child(2) { transition-delay: 0, 1s; background: rgba(255,153,  0,1); transform: rotateY(180deg) translateZ(100px); }
.cube > .face:nth-child(3) { transition-delay: 0, 2s; background: rgba(255,  0,  0,1); transform: rotateY(-90deg) translateZ(100px); }
.cube > .face:nth-child(4) { transition-delay: 0, 3s; background: rgba( 51,255,  0,1); transform: rotateY( 90deg) translateZ(100px); }
.cube > .face:nth-child(5) { transition-delay: 0, 4s; background: rgba(255,255,  0,1); transform: rotateX( 90deg) translateZ(100px); }
.cube > .face:nth-child(6) { transition-delay: 0, 5s; background: rgba(  0,153,255,1); transform: rotateX(-90deg) translateZ(100px); }

.cube.flat > .face {
    transform: translate3d(0,0,0);
}

.cube.target {
    width: 204px;
    height: 204px;
    transform-style: preserve-3d;
    backface-visibility: visible;
}


/*
 * PERSPECTIVE
 * =============================================================================
 */

.step-perspective #title { pointer-events: none }

#perspective { width: 600px; z-index: 100; }

#perspective h2 { width: 550px }

#perspective .scene {
    background-color: #FFF;
    width: 600px;
    height: 400px;
    border: 2px solid #AAA;
    
    /*perspective: 1000px;*/
    perspective-origin: 50% 50%;

    overflow: hidden;
    margin: 20px auto;
    position: relative;
    
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2) inset;
    pointer-events: auto;
    transform-style: flat;
    transition: perspective 0.5s ease-in-out;
}

#perspective .cross {
    width: 10000px; height: 10000px;

    position: absolute;
    left: -4700px; top: -4800px;
    cursor: move;
}

#perspective .cross:before,
#perspective .cross:after {
    content: "";
    position: absolute;
    border: 0px dashed #AAA;
    height: 100%; width: 100%;
    bottom: 0; left: 0;
}

#perspective .cross:before { height: 50%; border-top-width: 2px; }
#perspective .cross:after { width: 50%; border-right-width: 2px; }

#perspective .box {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
}

#perspective .top,
#perspective .left,
#perspective .right,
#perspective .bottom,
#perspective .front,
#perspective .back {
    box-sizing: border-box;
    width: 100px; height: 100px;
    position: absolute;
}

#perspective .left:before,
#perspective .right:before {
    content: "";
    box-sizing: border-box;
    height: 100px; width: 10000px;
    border: 2px solid #777;
    border-width: 2px 0;
    position: absolute;
    top: 0; left: 101px;

}

#perspective .left:before {
    left: auto; right: 101px;
}

#perspective .box .front  { background: rgba(255,255,  0,.5); transform: translateZ(50px); }
#perspective .box .top    { background: rgba(255,153,  0,.5); transform: translate(0px,-50px) rotateX(90deg); }
#perspective .box .right  { background: rgba(255,  0,  0,.5); transform: translate(50px,0px) rotateY(90deg); }
#perspective .box .bottom { background: rgba( 51,255,  0,.5); transform: translate(0px,50px) rotateX(-90deg); }
#perspective .box .left   { background: rgba(102, 51,255,.5); transform: translate(-50px,0px) rotateY(-90deg); }
#perspective .box .back   { background: rgba(  0,153,255,.5); transform: translateZ(-50px) rotateY(180deg); }

#perspective .box:nth-child(2) {
    position: absolute;
    top: 50px; left: 100px;
}

#perspective .box:nth-child(3) {
    position: absolute;
    top: 250px; left: 400px;
/*    transform: translateZ(-300px);
    transform-style: preserve-3d; */
}

/*
 * END
 * =============================================================================
 */
#remember { width: 900px }

#demos h3,
#learn h3 { font-size: 1.6em }

#demos p,
#learn p { line-height: 1.6 }

#demos a,
#learn a { white-space: nowrap; }

#end {
    height: 0;
    width: 0;
}

#end .author { 
    text-align: center;
    position: absolute;
    top: 200px;
    width: 600px;
    margin-left: -300px;
}

/*
 * SLIDER
 * =============================================================================
 */

.switch { cursor: pointer; }

label.slider { 
    display: inline-block;
    position: relative;
    user-select: none;
}

label.slider .val { white-space: pre; }

label.disabled input { display: none }

label.slider input[type=range] {
    appearance: none;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

label.slider input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 50px;
    height: 35px;
    background-color: rgba(200,100,100,0.4);
    border-radius: 5px;
    cursor: move;
    transition: background-color 500ms ease-in-out;
    
}

/* IMPRESS NOT SUPPORTED STYLES */

.impress-not-supported .step {
    clear: both;
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.fallback-message {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.3;
    
    display: block;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -400px;
}

.fallback-message p {
    margin-bottom: 10px;
}

.supported .fallback-message {
    display: none;
}

.impress-not-supported .fallback-message {
    position: static;
    margin: 20px auto;
}
